@using System.ComponentModel.DataAnnotations

<div class="d-flex gap-2 align-center align-self-center @Class">
    @if (User is not null)
    {
        @if (User.Avatar is not null && User.Avatar.Length is not 0)
        {
            <MudAvatar Class="align-self-center" Image="@User.ToImageSource()"/>
        }
        <MudText Class="align-self-center">@User.Nickname</MudText>
    }
</div>

@code {

    [Parameter]
    public string Class { get; set; } = string.Empty;

    [Required, EditorRequired, Parameter]
    public User? User { get; set; } = null!;

}