@page "/GDPR"
<PageTitle>General Data Protection Regulation</PageTitle>
<MudExpansionPanels>
    <MudExpansionPanel Text="Source Code">
        <a href="https://github.com/X39/UnitedTacticalForces">Source Code</a>
    </MudExpansionPanel>
    <MudExpansionPanel Text="Deutsch">
        <p>
            Die Allgemeine Datenschutzverordnung (GDPR) ist eine EU-Rechtsvorschrift zum Datenschutz und zum Schutz
            der Privatsphäre für alle Personen innerhalb der Europäischen Union (EU) und des
            Europäischen Wirtschaftsraums (EWR). Sie regelt auch die Ausfuhr personenbezogener Daten außerhalb
            der EU und des EWR. Die GDPR zielt in erster Linie darauf ab, den Bürgern und Einwohnern die
            Kontrolle über ihre personenbezogenen Daten zu geben und das Vereinfachung des regulatorischen Umfelds
            für internationale Unternehmen durch Vereinheitlichung der Vorschriften innerhalb der EU.
        </p>
        <p>
            Alle von dieser Website erhobenen personenbezogenen Daten werden auf Servern in der EU gespeichert.
            Die Daten werden nur zum Zweck der Erbringung des Dienstes verwendet.
            Eine Weitergabe der Daten an Dritte erfolgt nicht.
        </p>
        <p>
            Diese Website sammelt Logdaten von Besuchern.
            Die Daten werden gesammelt, um den Datenverkehr zu analysieren und mögliche Angriffe
            auf die Website zu erkennen.
            Die Protokolle enthalten die IP-Adresse des Besuchers, das Datum und die Uhrzeit der Anfrage,
            die Anfragemethode, die angeforderte Ressource, den HTTP-Statuscode.
            die angeforderte Ressource, den HTTP-Statuscode, den Referrer, den User-Agent und die Länge der Anfrage.
            Die Daten werden 90 Tage lang gespeichert und dann gelöscht.
        </p>
        <p>
            Wenn Sie diese Website besuchen, wird aus technischen Gründen ein Cookie auf Ihrem Computer gespeichert.
        </p>
        <p>
            Wenn Sie sich auf der Website anmelden, wird aus technischen Gründen ein Cookie
            auf Ihrem Computer gespeichert.
            Das Cookie wird verwendet, um Sie zu identifizieren, wenn Sie die Website besuchen.
            Die verwendete Anmeldemethode erfasst Ihre E-Mail-Adresse, Ihre Steam-ID,
            Ihren Steam-Namen und Ihren Steam-Avatar.
            Weitere Daten können auf Ihrem Computer gespeichert werden, wenn Sie Ihre Einstellungen ändern.
        </p>
        <p>
            Wenn du dein Konto löschst, wird dein Konto ungültig.
            Alle durchgeführten Interaktionen bleiben erhalten, werden aber anonymisiert.
            Wenn Sie zum Beispiel eine Karte erstellt haben, bleibt diese erhalten, aber der Autor wird anonymisiert.
            Wenn Sie eine Karte erstellt und einen Screenshot hochgeladen haben, bleibt der Screenshot erhalten,
            aber der Autor wird anonymisiert.
            Wenn Sie eine Mission eingefügt haben, wird der Slot beibehalten, aber der Autor wird anonymisiert.
        </p>
    </MudExpansionPanel>
    <MudExpansionPanel Text="English">
        <p>
            The General Data Protection Regulation (GDPR) is a regulation in EU law on data protection and privacy for all 
            individuals within the European Union (EU) and the European Economic Area (EEA).
            It also addresses the export of personal data outside the EU and EEA areas.
            The GDPR aims primarily to give control to citizens and residents over their personal data and to simplify 
            the regulatory environment for international business by unifying the regulation within the EU.
        </p>
        <p>
            All personal data collected by this website is stored on servers in the EU.
            The data is only used for the purpose of providing the service.
            The data is not shared with third parties.
        </p>
        <p>
            This website is collecting log data from visitors.
            The data is collected to analyze the traffic and to detect possible attacks against the website.
            The logs contain the IP address of the visitor, the date and time of the request, the request method, the
            requested resource, the HTTP status code, the referrer, the user agent and the request length.
            The data is stored for 90 days and then deleted.
        </p>
        <p>
            When you visit this website, a cookie is stored on your computer for technical reasons.
        </p>
        <p>
            When logging in to the website, a cookie is stored on your computer for technical reasons.
            The cookie is used to identify you when you visit the website.
            The login method used is collecting your email address, Steam Id, Steam name and Steam avatar.
            Additional data may be stored on your computer if you change your settings.
        </p>
        <p>
            Deleting your account will invalidate your account.
            Any interactions done will be kept but will be anonymized.
            For example, if you have created a map, the map will be kept but the author will be anonymized.
            If you have created a map and have uploaded a screenshot,
            the screenshot will be kept but the author will be anonymized.
            If you slotted in a mission, the slot will be kept but the author will be anonymized.
        </p>
    </MudExpansionPanel>
</MudExpansionPanels>